In [1]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([4,6,7,12,3,5],index=['a','b','d','n','r','x'],name='wartosc')
s1

In [5]:
sdata = {'Warszawa':12456,'Lublin':9876,'Kraków':11345,'Gdańsk':9876}
s2 = pd.Series(sdata,name='wnioski')
s2

In [6]:
data = {'miasto':['Warszawa','Lublin','Wrocław','Kraków'],
        'wnioski':[12665,11200,14570,12567],
        'projekty':[7,6,6,7]}

frame = pd.DataFrame(data, index=[10,11,12,13])
frame

,miasto,wnioski,projekty
10,Warszawa,12665,7
11,Lublin,11200,6
12,Wrocław,14570,6
13,Kraków,12567,7