In [1]:
import pandas as pd
from sqlite3 import connect
import mysql.connector

In [2]:
con = connect(':memory:')
df = pd.DataFrame(data=[[0,'10-11-12'],[1,'12-11-10']],columns=['int_columns','date_columns'])

In [3]:
df

,int_columns,date_columns
0,0,10-11-12
1,1,12-11-10

In [4]:
print(df.to_sql(name='test_data',con=con))

2

In [5]:
print(pd.read_sql('SELECT * FROM test_data',con))

   index  int_columns date_columns
0      0            0     10-11-12
1      1            1     12-11-10