In [1]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([4,6,7,12,3,5],index=['a','b','d','n','r','x'],name='wartosc')
s1

In [5]:
sdata = {'Warszawa':12456,'Lublin':9876,'Kraków':11345,'Gdańsk':9876}
s2 = pd.Series(sdata,name='wnioski')
s2

In [6]:
data = {'miasto':['Warszawa','Lublin','Wrocław','Kraków'],
        'wnioski':[12665,11200,14570,12567],
        'projekty':[7,6,6,7]}

frame = pd.DataFrame(data, index=[10,11,12,13])
frame

,miasto,wnioski,projekty
10,Warszawa,12665,7
11,Lublin,11200,6
12,Wrocław,14570,6
13,Kraków,12567,7

In [10]:
daty = pd.date_range("20240319",periods=6)
daty

DatetimeIndex(['2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22',
               '2024-03-23', '2024-03-24'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
df

,A,B,C,D
2024-03-19,0.639158,-1.756943,-0.786333,0.264352
2024-03-20,-0.139804,-1.622540,-0.013011,0.483328
2024-03-21,-0.875485,0.120829,-0.727301,-0.025835
2024-03-22,-0.916958,-1.425622,-0.211535,-0.253939
2024-03-23,-0.150823,1.275098,-0.229488,-1.175055
2024-03-24,-0.223218,0.630731,1.173235,1.156772

In [12]:
m = "ABCD"
print(m)

ABCD

In [13]:
m[0]

'A'

In [14]:
m[2]

'C'

In [15]:
m[1:3]

'BC'

In [16]:
m[-1]

'D'